<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Narkal/Restaurant Sign Up</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/stylesheets/restaurant-profile.css">
</head>

<body>
    <section class="section-content">
      <article class="header__article">
        <img class="profile-img" src="images/logo_with_narkal.png">
      </article>
      <button class="next-btn"><a class="next-btn__a" href="/">Home</a></button>
    </section>
    <main class="main-content">
      <div class="article-aside-wrap">
        <article class="main-content-article">
          <h2 class="main-content__h2">Mountain Sun Pub & Brewery</h2>
          <button class="main-content__btn" aria-label="edit-description"><i class="fas fa-pencil-alt"></i>EDIT</button>
          <div class="restaurant-description__div restaurant-description--color">
            <h1>Narons: </h1>
            <!-- <div class="narkons--align"> -->
            <ul class="narkons__ul">
              <span class="narkons__span">RESTAURANT GENRE:</span>
              <li><i class="fas fa-angle-right"></i>Sit Down</li>
              <li><i class="fas fa-angle-right"></i>Brewery</li>
            </ul>
            <ul class="narkons__ul">
              <span class="narkons__span">FOOD GENRE:</span>
              <li><i class="fas fa-angle-right"></i>American</li>
            </ul>
            <ul class="narkons__ul">
              <span class="narkons__span">SPECIALTIES:</span>
              <li><i class="fas fa-angle-right"></i>Burgers</li>
              <li><i class="fas fa-angle-right"></i>Happy Hour</li>
              <li><i class="fas fa-angle-right"></i>Sandwiches</li>
            </ul>
            <ul class="narkons__ul">
              <span class="narkons__span">Allergens:</span>
              <li><i class="fas fa-angle-right"></i>Dairy</li>
              <li><i class="fas fa-angle-right"></i>Gluten</li>
              <li><i class="fas fa-angle-right"></i>Peanuts</li>
            </ul>
          <!-- </div> -->
          <!-- <div class="narkons--align"> -->
            <ul class="narkons__ul">
              <span class="narkons__span">CULTURE & CONVENIENCE:</span>
              <li><i class="fas fa-angle-right"></i>Handicap Access</li>
              <li><i class="fas fa-angle-right"></i>Kid Friendly</li>
              <li><i class="fas fa-angle-right"></i>Large Party Space</li>
              <li><i class="fas fa-angle-right"></i>Reservations</li>
              <li><i class="fas fa-angle-right"></i>WiFi</li>
              <li><i class="fas fa-angle-right"></i>Bar</li>
            </ul>
            <ul class="narkons__ul">
              <span class="narkons__span">DIETARY:</span>
              <li><i class="fas fa-angle-right"></i>Farm to Table Focused</li>
              <li><i class="fas fa-angle-right"></i>Vegan Menu Options</li>
              <li><i class="fas fa-angle-right"></i>Vegetarian Menu Options</li>
              <li><i class="fas fa-angle-right"></i>Organic Menu Options</li>
              <li><i class="fas fa-angle-right"></i>Gluten Free Menu</li>
              <li><i class="fas fa-angle-right"></i>Paleo Menu</li>
              <li><i class="fas fa-angle-right"></i>Locally Sourced Meat</li>
              <li><i class="fas fa-angle-right"></i>Grass Fed Meat</li>
              <li><i class="fas fa-angle-right"></i>Hormone Free Meat</li>
              <li><i class="fas fa-angle-right"></i>Serve Alcohol</li>
            </ul>
          <!-- </div> -->
        </div>
        </article>
        <aside class="main-content__aside">
          <div class="social">
            <button class="social__btn facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i>Facebook</button>
            <button class="social__btn twitter"><i class="fab fa-twitter" aria-hidden="true"></i>Twitter</button>
            <button class="social__btn linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i>Instagram</button>
          </div>
            <div class="restaurant-description__div">
              <h2 class="main-content__h2">LOCATION</h2>
              <p class="main-content__p">1535 Pearl St. , Boulder, CO 80302</p>
            </div>
            <div class="restaurant-description__div">
              <h2 class="main-content__h2">PHONE</h2>
              <p class="main-content__p">303-546-0886</p>
            </div>
            <div class="restaurant-description__div">
              <h2 class="main-content__h2">EMAIL</h2>
              <p class="main-content__p">mtnsun@mountainsunpub.com</p>
            </div>
            <div class="restaurant-description__div">
              <h2 class="main-content__h2">HOURS</h2>
              <p class="main-content__p">Monday-Sunday 11 AM-1 AM</p>
            </div>
            <div class="restaurant-description__div">
              <h2 class="main-content__h2">EXPENSE LEVEL</h2>
              <p class="main-content__p">$</p>
            </div>
            <!-- <div class="restaurant-description__div">
              <h2 class="main-content__h2" id="description-target">HIGHLIGHTS</h2>
              <p class="main-content__p">2018 Diner's Choice Award Winner</p>
            </div> -->
        </aside>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="javascripts/restaurant-profile.js"></script>
</body>

</html>
