<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Narkal/Restaurant Sign Up</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/stylesheets/restaurant-profile.css">
</head>

<body>
  <main class="main-content">
    <div class="article-aside-wrap">
      <article class="main-content-article">
        <div class="restaurant-description__div restaurant-description--color">
          <h2 class="main-content__h2">Mountain Sun Pub & Brewery</h2>
          <img class="profile-img" src="http://coloradofrontrange.com/wp-content/uploads/2015/02/00msportfolio.jpg">
          <a href="/"><img class="narkal-img" src="/images/logo_with_narkal.png"></a>
        </div>
        <div class="restaurant-description__div">
          <h2 class="main-content__h2">LOCATION: </h2>
          <p class="main-content__p">1535 Pearl St. , Boulder, CO 80302</p>
        </div>
        <div class="restaurant-description__div">
          <h2 class="main-content__h2">PHONE: </h2>
          <p class="main-content__p">303-546-0886</p>
        </div>
        <div class="restaurant-description__div">
          <h2 class="main-content__h2">EMAIL: </h2>
          <p class="main-content__p">mtnsun@mountainsunpub.com</p>
        </div>
        <div class="restaurant-description__div">
          <h2 class="main-content__h2">HOURS: </h2>
          <p class="main-content__p">Monday-Sunday 11 AM-1 AM</p>
        </div>
        <div class="restaurant-description__div">
          <h2 class="main-content__h2">EXPENSE LEVEL: </h2>
          <p class="main-content__p">$</p>
        </div>
        <div class="restaurant-description__div">
          <h2 class="main-content__h2" id="description-target">HIGHLIGHTS:</h2>
          <p class="main-content__p">GREAT AMERICAN BEER FESTIVAL: 2010 Silver Medal Illusion Dweller IPA and 2011 Silver Medal Colorado Kind Ale</p>
        </div>
        <div class="restaurant-description__div">
          <div class="comment_one">
            <h2 class="main-content__h2" id="description-target">COMMENTS:</h2>
            <div class="comment_box">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <h4>Anonymous July 24th 2018: </h4>
              <p>The general vibe of Pearl Street is lovely & hip, & Mountain Sun is no exception. The staff is wildly friendly, incredibly attentive, & hell-bent on making your night a good one. The food was unique & delicious even though it was on paper
                pretty basic American-classic cuisine. They have a very vegetarian-friendly menu with lots of options for substitutions if so desired Our party of 4 had to wait about 15 minutes for a table (around 9:00 PM on a Thursday), & it was well
                worth the exceptionally short delay. If it looks crowded from the street don't be deterred, put your name in for a seat & then prepare yourself for a delectable meal.</p>
            </div>
          </div><br>
          <div class="comment_two">
            <div class="comment_box">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <h4>FeelGreateFoodie February 1st 2018: </h4>
              <p>This place feels like Boulder. It's got a small town restaurant feel but the menu is local, fresh, and awesome. Lots of specials, good beers on tap, and the service is 10/10. Swing by and grab everything.</p>
            </div>
          </div>
        </div>
      </article>
      <aside class="main-content__aside">
        <div class="social">
          <button class="social__btn facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i>Facebook</button>
          <button class="social__btn twitter"><i class="fab fa-twitter" aria-hidden="true"></i>Twitter</button>
          <button class="social__btn linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i>Instagram</button>
        </div>
        <div class="narkons">
          <h1>Narkons: </h1>
          <ul class="narkons__ul">
            <span class="narkons__span">RESTAURANT GENRE:</span>
            <li><i class="fas fa-angle-right"></i>Sit Down</li>
            <li><i class="fas fa-angle-right"></i>Brewery</li>
          </ul>
          <ul class="narkons__ul">
            <span class="narkons__span">FOOD GENRE:</span>
            <li><i class="fas fa-angle-right"></i>American</li>
          </ul>
          <ul class="narkons__ul">
            <span class="narkons__span">SPECIALTIES:</span>
            <li><i class="fas fa-angle-right"></i>Burgers</li>
            <li><i class="fas fa-angle-right"></i>Happy Hour</li>
          </ul>
          <ul class="narkons__ul">
            <span class="narkons__span">Allergens:</span>
            <li><i class="fas fa-angle-right"></i>Dairy</li>
            <li><i class="fas fa-angle-right"></i>Gluten</li>
            <li><i class="fas fa-angle-right"></i>Peanuts</li>
          </ul>
          <ul class="narkons__ul">
            <span class="narkons__span">CULTURE & CONVENIENCE:</span>
            <li><i class="fas fa-angle-right"></i>Handicap Access</li>
            <li><i class="fas fa-angle-right"></i>Large Party Space</li>
            <li><i class="fas fa-angle-right"></i>Reservations</li>
            <li><i class="fas fa-angle-right"></i>WiFi</li>
          </ul>
          <ul class="narkons__ul">
            <span class="narkons__span">DIETARY:</span>
            <li><i class="fas fa-angle-right"></i>Farm to Table Focused</li>
            <li><i class="fas fa-angle-right"></i>Vegan Menu Options</li>
            <li><i class="fas fa-angle-right"></i>Vegetarian Menu Options</li>
            <li><i class="fas fa-angle-right"></i>Organic Menu Options</li>
            <li><i class="fas fa-angle-right"></i>Gluten Free Menu</li>
            <li><i class="fas fa-angle-right"></i>Paleo Menu</li>
            <li><i class="fas fa-angle-right"></i>Locally Sourced/Grass Fed/Hormone Free Meat</li>
            <li><i class="fas fa-angle-right"></i>Serve Alcohol</li>
          </ul>
        </div>
    </div>
    </aside>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="javascripts/restaurant-profile.js"></script>
</body>

</html>
