html {
  font-size: 10px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  background-image: url('/images/glitter-bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  padding: 8rem;
  margin: 15rem 29rem;
  background-color: #440744;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 4px #a6a6a6;
}
